* {
    box-sizing: border-box;

  }

  body{
    background-image: url("./image\ \(5\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: fixed;
    background-position: center;
    height: 100vh;
   
   
   
  }
  .container{
    width: 85%;
    margin: auto;
  }

  .header {
    background-color: #00939C;
    padding: 30px 40px;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
 
   
   
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }



  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
  }
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #e20c0c;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  .addBtn:hover {
    background-color: #bbb;
  }

.date{
    text-decoration: black wavy underline;
}


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
   
  

  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 20px 5px;
    background-color: gray;
    font-size: 18px;
    transition: 0.2s;
    user-select: none;
  }

  ul li:nth-child(odd) {
    background: #f9f9f9;
  }

  ul li:hover {
    background: #ddd;
  }
  
 
  .fa-trash {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 12px 16px 12px 16px;
    margin-top:10px;

    
  }
  .fa-trash:hover {
    background-color: #f44336;
    color: white;
    border-radius: 50%;
  }



  .content{
    margin-left:1rem;
    word-wrap: break-word;
    
  }


.line-through{
  text-decoration: line-through;
}